@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hideScroll::-webkit-scrollbar {
    display: none;
  }
  .hideMe {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@font-face {
  font-family: "Audiowide";
  src: url("../fonts/Audiowide.ttf");
}

@font-face {
  font-family: "Supreme";
  src: url("../fonts/Supreme.ttf");
}
