@layer utilities {
  .hideScroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hideScrollChrome::-webkit-scrollbar {
    display: none;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cyberfunk';
  src: url('../fonts/cyberfunk.ttf');
}

@font-face {
  font-family: 'CyberwayRiders';
  src: url('../fonts/cyberwayriders.ttf');
}

@font-face {
  font-family: 'Cyberfreight';
  src: url('../fonts/cyberfreight.otf');
}
